:root {
    --dark: #333;
    --white: #e6e6e6;
    --blue: #29abe2;
    --page-padding: 24px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    list-style-type: none;
}

html {
    font-size: 100%;
    font-family: 'Outfit', sans-serif;
    background-color: var(--white);
    color: var(--dark);
}

.text-blue {
    color: var(--blue);
}

.bold {
    font-weight: 700;
}

.mt-2 {
    margin-top: 2rem;
}

h2 {
    font-size: 2.6666rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

ul {
    padding-top: 1rem;
}

p,
h4,
li {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

nav {
    height: 100px;
    width: 100%;
    position: fixed;
    display: flex;
    padding: var(--page-padding);
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
}

nav svg {
    fill: var(--dark);
}

nav>svg {
    height: 48px;
}

nav>button {
    background-color: transparent;
    border: none;
}

nav>button>svg {
    height: 32px;
}

nav>button {
    width: auto;
}

footer {
    background-color: var(--dark);
    padding: var(--page-padding);
    color: var(--white);
    height: calc(100vh - 100px);
}

footer>p {
    margin-bottom: 1rem;
}

footer a {
    color: var(--white);
}

footer>.links {
    display: flex;
    justify-content: space-between;
}

footer>.links li {
    margin-bottom: 0.5rem;
}

footer>.copyright {
    margin-top: 6rem;
    font-size: 1rem;
}

footer>h2 {
    margin-bottom: 1rem;
}

section.hero {
    height: 100svh;
    padding-top: 100px;
    padding-left: var(--page-padding);
    padding-right: var(--page-padding);
    padding-bottom: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

section.hero>h3 {
    font-size: 2rem;
}

section.hero>.graphic {
    height: 200px;
    visibility: hidden;
    background-color: var(--dark);
}

section.hero>img {
    position: absolute;
    width: 280px;
    right: 0px;
    bottom: 200px;
    z-index: -1;
    overflow: hidden;
}

section.header {
    padding: var(--page-padding);
}

section.header>h2,
section.header>ul {
    margin-bottom: 2rem;
}

#budjet {
    background-color: #e2ab29;
    color: var(--white);
}

#budjet>.image {
    background-image: url('Assets/Images/budjet_thumb.png');
    background-position: center;
    background-size: cover;
}

#amcicode {
    background-color: #3b4b6b;
    color: var(--white);
}

#amcicode>.image {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

#amcicode>.image>svg {
    height: 2rem;
    fill: #3b4b6b;
}

#belang {
    background-color: #33cc99;
    color: var(--white);
}

#dynolink {
    background-color: #253659;
    color: var(--white);
}

#flapmaster {
    background-color: #d4faff;
    color: #29aae1;
}

#flapmaster>.image {
    background-image: url('Assets/Images/flapmaster_thumb.png');
    background-position: center;
    background-size: cover;
}

#flapmaster>.title>img {
    height: 48px;
}

#flapmaster>a.try {
    background-color: #29aae1;
}

section.project {
    padding: var(--page-padding) 0;
    padding-top: 0;
}

section.project>.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

section.project>.title>svg {
    fill: var(--white);
    width: 48px;
    height: 48px;
}

section.project>a.try {
    margin-top: 4rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 900;
    display: flex;
    align-items: center;
    height: 4rem;
    width: fit-content;
    padding: 0 var(--page-padding);
    box-sizing: border-box;
    background-color: var(--dark);
}

section.project>a.try>svg {
    width: 2rem;
    height: 2rem;
    fill: var(--white);
    margin-right: var(--page-padding);
}

section.project>.image {
    height: 300px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.project>.image>svg {
    height: 80px;
}

section.project>.subtitle {
    font-weight: 500;
    margin-bottom: 1rem;
}

section.project>p {
    font-size: 1.5rem;
}

section.project>:not(.image) {
    padding: 0 var(--page-padding);
}